.menu {
  height: 50px;
  width: 100%;
  background: gainsboro;
}


.product-list {
  float: left;
  padding: 10px;
  margin: 10px;
  width: fit-content;
  border: 1px solid gainsboro;
}

.cart {
  float: left;
  padding: 10px;
  margin: 10px;
  width: 300px;
  border: 1px solid gainsboro;
}

.show-cart {
  color: red;
  font-weight: 600;
}
